absl-py
aiofiles
anyio
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
Deprecated
distlib
docopt
fastapi
ffmpeg-python
filelock
firebase-admin
fonttools
future
gcloud
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
httptools
huggingface-hub
idna
importlib-metadata
importlib-resources
jwcrypto
jws
kiwisolver
Markdown
MarkupSafe
matplotlib
more-itertools
msgpack
numpy
oauth2client
oauthlib
openai-whisper @ git+https://github.com/openai/whisper.git@3e1780fd37686666f568be9c99f5b5e3e4f2eb92
opencv-python
packaging
pandas
Pillow
pipenv
pipreqs
platformdirs
proto-plus
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pyparsing
Pyrebase4
python-dateutil
python-dotenv
python-jwt
python-multipart
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rsa
scipy
seaborn
semantic-version
setuptools-rust
six
smmap
sniffio
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thop
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
uritemplate
urllib3
uvicorn
virtualenv
virtualenv-clone
watchfiles
websockets
Werkzeug
wrapt
yarg
zipp
